<header class="header">
	<h1>todos</h1>
	<!--当点击回车的时候，会自动触发表单的自动提交事件-->
	<form ng-submit="add()">
		<input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="taskName">
	</form>
</header>
<!-- This section should be hidden by default and shown when there are todos -->
<section class="main">
	<input class="toggle-all" type="checkbox" ng-click="checkAll()" ng-model="isCheckAll">
	<label for="toggle-all">Mark all as complete</label>
	<ul class="todo-list">
		<!-- These are here just to show the structure of the list items -->
		<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

		<!-- 如果当前任务是完成的，那么就添加 completed 类；-->
		<li ng-repeat="todo in todoList | filter:{isCompleted:status} track by $index" ng-class="{completed:todo.isCompleted,editing:editingId===todo.id }">
			<div class="view">
				<input class="toggle" type="checkbox" ng-model="todo.isCompleted">
				<label ng-bind="todo.name" ng-dblclick="edit(todo.id)"></label>
				<button class="destroy" ng-click="del(todo.id)"></button>
			</div>
			<form ng-submit="update()">
				<input class="edit" value="Create a TodoMVC template" ng-model="todo.name" >
			</form>
		</li>
	</ul>
</section>
<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
	<!-- This should be `0 items left` by default -->
	<span class="todo-count"><strong ng-bind="getUnCompletedCount()">0</strong> item left</span>
	<!-- Remove this if you don't implement routing -->
	<ul class="filters">
		<li>
			<a class="selected" href="#/" ng-class="{selected:undefined==status}" ng-click="showAll()">All</a>
		</li>
		<li>
			<a href="#/active" ng-class="{selected:false==status}" ng-click="showActive()">Active</a>
		</li>
		<li>
			<a href="#/completed" ng-class="{selected:true==status}" ng-click="showCompleted()">Completed</a>
		</li>
	</ul>
	<!-- Hidden if no completed items are left ↓ -->
	<button class="clear-completed" ng-click="clearCompleted()" ng-show="isShow()">Clear completed</button>
</footer>
